:root{
    --positionX: 0;
    --positionY: 0;
    --sizeMultiplier: 2;
}

.ballAnimation{
  box-sizing:border-box;
  padding:0;
  margin:0;
  position:fixed;
  display:inline-block;
  top:30px;
  left:0;
  height:12px;
  width:12px;
  transform: translate(var(--positionX), var(--positionY))
             scale(1);
  background-color:blue;
  border-radius:50%;
  box-shadow: 0 0 10px 10px blue;
  animation: ballAnimation-animation 1s ease-in infinite;
}

@keyframes ballAnimation-animation{
  0%{
    transform: translate(var(--positionX), var(--positionY))
               scale(1);
  }
  50%{
    transform: translate(var(--positionX), var(--positionY))
               scale(var(--sizeMultiplier));
  }
  100%{
    transform: translate(var(--positionX), var(--positionY))
               scale(1);
  }
  
};